<!--
  <p>this is other page</p>
-->


  <nav class="navbar navbar-expand-md navbar-light bg-faded">
    <div class="container"> <a class="navbar-brand" href="#">Welcome Back </a> <a> {{user.username}}</a> <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item active"> <a class="nav-link" href="#">Setting</a> </li>
          <li class="nav-item active"> <a class="nav-link" href="#">Help<br></a> </li>
          <li class="nav-item active"> <a class="nav-link" href="#">Log out<br></a> </li>
        </ul>
      </div>
    </div>
  </nav>


  
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1 text-center text-info">MyLib</h1>
        </div>
      </div>
    </div>
  </div>

<!--6 buttons for classification  -->

   <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form action="/private/socialscience" method="get">
              <input type="submit" class="btn btn-outline-info w-100 my-1" value="Social Science"/>
          </form>     
        </div>
        <div class="col-md-4">
          <form action="/private/art" method="get">
              <input type="submit" class="btn btn-outline-success w-100 my-1" value="Art"/>
          </form>     
        </div>
        <div class="col-md-4">
          <form action="/private/languages" method="get">
              <input type="submit" class="btn btn-outline-warning w-100 my-1" value="Languages"/>
          </form>     
        </div> 
      </div>
    </div>
  </div>

   <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form action="/private/technology" method="get">
              <input type="submit" class="btn btn-outline-info w-100 my-1" value="Technology"/>
          </form>     
        </div>
        <div class="col-md-4">
          <form action="/private/literature" method="get">
              <input type="submit" class="btn btn-outline-success w-100 my-1" value="Literature"/>
          </form>     
        </div>
        <div class="col-md-4">
          <form action="/private/other" method="get">
              <input type="submit" class="btn btn-outline-warning w-100 my-1" value="Other"/>
          </form>     
        </div> 
      </div>
    </div>
  </div>

 <div class="py-3 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="/private" method="get">
         <input type="submit" class="btn btn-outline-primary w-25 " value="HomePage"/>
          </form> 
          </div> 
      </div>
    </div>
  </div>


 <div class="py-5 " >
    <div class="container">
      <div class="row">
        <div class="col-md-12  bg-faded">
       <h3 class="text-primary ">Other</h3>      
        </div>
      </div>
    </div>
  </div>

  
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><img class="center-block img-fluid d-block mx-auto rounded" src="{{other1.cover}}"  ></div>
        <div class="col-md-3 my-2">
        
          <h4 class="my-2"> {{other1.name}}</h4>
          <p>Time: {{other1.time}}</p>
        <p>Distance: {{other1.distance}}</p>
        <p>Visitors Flow Rate: {{other1.flowrate}}</p>

         <form action="/private/info/{{other1.id}}" method="get">
     <input type="submit" class="btn btn-info w-75" value="View More"/>
 </form>
     
        </div>
        <div class="col-md-3"><img class="center-block img-fluid d-block mx-auto rounded" src="{{other2.cover}}"></div>
        <div class="col-md-3 my-2">
          <h4 class="my-2"> {{other2.name}}</h4>
          <p>Time: {{other2.time}}</p>
        <p>Distance: {{other2.distance}}</p>
        <p>Visitors Flow Rate: {{other2.flowrate}}</p>
         <form action="/private/info/{{other2.id}}" method="get">
     <input type="submit" class="btn btn-info w-75" value="View More"/>
 </form>

        </div>
      </div>
    </div>
  </div>








<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><img class="center-block img-fluid d-block mx-auto rounded" src="{{other3.cover}}"  ></div>
        <div class="col-md-3">
        
        <h4 class="my-2"> {{other3.name}}</h4>
        <p>Time: {{other3.time}}</p>
        <p>Distance: {{other3.distance}}</p>
        <p>Visitors Flow Rate: {{other3.flowrate}}</p>

         <form action="/private/info/{{other3.id}}" method="get">
     <input type="submit" class="btn btn-info w-75" value="View More"/>
 </form>
        </div>
      </div>
    </div>
  </div>


				
			</div>
		</div>
	</div>
</div>
